@media (min-width: 992px){
    .nav-link{
        padding-right: 1.5rem !important;
        padding-left: 1rem !important;
    }
    
}
@media only screen and (max-width: 479px){
    .search-bar h1{
        font-size: 2rem !important;
    }
}